/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/*************** Fonte *********************/

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inter {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*******************************************/

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
}

p,
a {
  font-family: "Inter", sans-serif;
}
