/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/*************** Fonte *********************/

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inter {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.quattrocento-sans-regular {
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*******************************************/

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
}

p,
a,
li {
  font-family: "Inter", sans-serif;
}

label,
span {
  font-family: "Quattrocento Sans", sans-serif;
}
