---
import AbonnementSektion from "../components/AbonnementSektion.astro";
import Hero from "../components/Hero.astro";
import Statestisk from "../components/Statestisk.astro";
import Sektion from "../components/Sektion.astro";
import Pagelayout from "../layouts/Pagelayout.astro";
import Marquee from "../components/Marquee.astro";
import IllustrationSektion from "../components/IllustrationSektion.astro";
import "../styles/style.css";

const url = "https://lrmrhubfcdexgbtzwhkl.supabase.co/rest/v1/Subscriptions";
const key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxybXJodWJmY2RleGdidHp3aGtsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjMwNzcxMTcsImV4cCI6MjA3ODY1MzExN30.BNzYKZUOSXZL6ZaNW1b-yliRwEPQTcsV8Xbe0_D55AE";

const options = {
  headers: {
    apikey: key,
  },
};

const supaRequest = await fetch(url, options);
const supaData = await supaRequest.json();

console.log("supadata: ", supaData);
---

<<<<<<< HEAD
<Pagelayout>
  <Hero />
  <Statestisk />
  <Sektion titel="Hvem er jeg?" billede="/kristian1.webp" brødtekst1="Mit navn er Kristian Humaidan, og jeg står bag SoundWheel. Du kender mig måske som Ufo fra Ufo & Yepha, hvor jeg arbejdede med rytme og energi." brødtekst2="I dag hjælper jeg virksomheder med ro, fokus og trivsel gennem lyd og vibration. Jeg viser, hvordan lyd kan give medarbejdere en naturlig pause i en travl hverdag." brødtekst3="Sammen kan vi skabe balance, energi og nærvær på din arbejdsplads." />
  <Sektion variant="sektion2" titel="Vil du opleve effekten på egen krop?" billede="/kristian_live.webp" brødtekst1="Book en kort, uforpligtende og guidet lyd-demo, og oplev SoundWheel live hos jer." brødtekst2="Ingen forberedelse - bare nysgerrighed og lyst til en energigivende pause, der reducerer stress og styrker arbejdsglæde." brødtekst3="Lyt, lær og mærk, hvordan ro og fokus vender tilbage - blot på under 10 minutter." />
  <IllustrationSektion />
  <AbonnementSektion data={supaData} />

  <Marquee />
</Pagelayout>
=======
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro</h1>
    <!-- <h1>Astro</h1> -->
    <AbonnementSektion data={supaData} />
  </body>
</html>
>>>>>>> header
