<section class="flex">
  <img src="/laptop_mobil.svg" alt="Laptop og mobil" />
  <h2>Ro i kroppen. Fokus i arbejdet. Oplev SoundWheel nu.</h2>
</section>

<style>
  h2 {
    text-align: center;
    margin: 0 auto;
    max-width: 600px;
    font-size: clamp(2rem, 3vw, 3rem);
    color: #3b1414;
  }

  img {
    margin-bottom: 2rem;
  }

  section {
    margin-bottom: 20rem;
  }

  @media (min-width: 1000px) {
    .flex {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2rem 2rem;
    }

    img {
      max-width: 900px;
      width: 60%;
    }
  }
</style>
