---
const { titel, billede, brødtekst } = Astro.props;
---

<section>
  <div class="flex">
    <div class="heading">
      <h3>{titel}</h3>
    </div>
    <div class="image">
      <img src={billede} alt="Kristian" />
    </div>
    <div class="text">
      <p>{brødtekst}</p>
    </div>
  </div>
</section>

<style>
  /* Mobilvisning: Overskrift > Billede > Tekst */
  .flex {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "heading"
      "image"
      "text";
    gap: 10px;
  }

  .heading {
    grid-area: heading;
  }
  .image {
    grid-area: image;
  }
  .text {
    grid-area: text;
  }

  /* Desktopvisning: Overskrift + Tekst samlet til venstre, Billede til højre */
  @media (min-width: 800px) {
    .flex {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "heading image"
        "text    image";
      align-items: start;
      gap: 20px;
    }

    .heading {
      grid-area: heading;
      align-items: center;
    }
    .text {
      grid-area: heading;
      margin-top: 30px;
      align-items: center;
    }
    .image {
      grid-area: image;
    }

    .image img {
      max-width: 100%;
      height: auto;
      display: block;
    }
  }
</style>
