---
const { variant, titel, billede, brødtekst1, brødtekst2, brødtekst3 } = Astro.props;
---

<section class={variant}>
  <div class="flex">
    <div class="heading">
      <h3>{titel}</h3>
    </div>
    <div class="image">
      <img src={billede} alt="Kristian" />
    </div>
    <div class="text">
      <p>{brødtekst1}</p>
      <p>{brødtekst2}</p>
      <p>{brødtekst3}</p>
    </div>
  </div>
</section>

<style>
  /* Mobilvisning: Overskrift > Billede > Tekst */
  h3 {
    font-size: 3.5rem;
    text-align: center;
  }

  p {
    font-size: 2rem;
    margin-bottom: 2rem;
    line-height: 1.5;
  }

  section {
    padding: 2rem 2rem;
    margin-bottom: 15rem;
  }

  .flex {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "heading"
      "image"
      "text";
    gap: 50px;
  }

  .heading {
    grid-area: heading;
  }
  .image {
    grid-area: image;
  }
  .text {
    grid-area: text;
  }

  /* Desktopvisning: Overskrift + Tekst samlet til venstre, Billede til højre */
  @media (min-width: 1000px) {
    h3 {
      text-align: start;
    }

    .flex {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "heading image"
        "text    image";
      align-items: start;
      gap: 50px;
    }

    .heading {
      grid-area: heading;
      align-items: center;
      max-width: 90%;
      padding-left: 5rem;
    }
    .text {
      grid-area: heading;
      align-items: center;
      max-width: 80%;
      margin: 0 auto;
      padding-top: 100px;
    }
    .image {
      grid-area: image;
    }

    .image img {
      max-width: 80%;
      margin: 0 auto;
      height: auto;
      display: block;
    }

    /****** Sektion2 ***********/

    .sektion2 .text {
      padding-top: 200px;
      grid-area: image;
    }

    .sektion2 .heading {
      grid-area: image;
    }

    .sektion2 .image {
      grid-area: heading;
    }
  }
</style>
